.ChartOne{
    margin-top: 50px;
    text-align: center;
}

.ChartTwo{
    margin-top: 30px;
    text-align: center;
}

.ChartThree{
    margin-top: 30px;
    text-align: center;
}

.ChartFour{
    margin-top: 30px;
    text-align: center;
}

.ChartFive{
    margin-top: 30px;
    text-align: center;
}